#site {width:100%;
 height: 100%;
 margin:auto; background-color: #806f66;
border-style: hidden;
 padding-top:5px;
 padding-bottom:5px; padding-left: 10px; padding-right: 10px}

* {box-sizing: border-box;
    margin: 0px;
    padding: 0px;}

#header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-image: url('banner8.png');
    background-color: #806f66 ;}

#konten {
    width: auto;
    height:100%;
    margin: 0 auto;
    overflow: hidden;
    min-height: 100%; padding-bottom: 60px;
}

#kiri {
    width: 20%;
    background-color: #806f66;
    float: left;
    border-style:inherit;
    padding-bottom: 500px;
    margin-bottom: 500px;
}

#kiri main {
    margin: auto;
    display: : block;
    background: #fa8445;
    font-size: 25px;
    font-family: fantasy;
    color: black;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #765549;
    font-family: monospace;
    border: 1px solid #ccc;
}

li {
    border-bottom: 1px solid #ccc;
}

li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 8px 16px;
}

li a:hover {
    background-color: #555;color:#b77451;}
li.active a{background:#4169e1;color:#a56f53;}
li:last-child{border-bottom:none;}

#tengah {
    width: 50%;
    background-color:#806f66;
    float: left;overflow-y: auto;
    text-align: left;
    color: #2c221b;
    font-family: monospace;
    font-size:15px;
    padding: 3px; border-style: inherit; padding-bottom: 500px;margin-bottom: 500px;}

#kanan {
    width: auto;height: 100%;
    overflow: auto;
    background-color: #806f66;
    text-align: left;
    color: #312323;
    font-family: monospace;
    font-size: 15px;
    padding: 5px; border-style: inherit; padding-bottom: 500px;margin-bottom: 500px;}

#footer {
    background-color: grey;background-image: url("banner44.jpg");
    color: #fff;font-family: inherit; font-style: oblique;
    clear: both; height: 50px;
    text-align: center;
    width:100%; 
    padding: 15px; position: fixed; bottom: 0px;
}

.intro1 {
    color: #f2cdcd;
    font-weight: normal;
    font-family: monospace;
    font-size: 30px;font-style: oblique;}

.intro4 {
    color: #a0340c;
    font-weight: bold;
    font-family: fantasy; font-size: 40px;
}
.intro2 {
    color: #312323;
    font-weight: normal;
    font-family: fantasy; font-size: 20px;
}

.img-responsive {max-width: 100%; display:block; height: auto;}
