#top {background-color: #0DED56 ; padding: 20px; font family: georgia;}
.intro1 { color: #72081B  ; font-weight: bold; font family: helvetica;}
.intro2 { color: #2371A4  ; font-weight: bold; font family: serif;}
.intro3 {color: coral; font weight : lighter; font family: fantasy;}
#middle {background-color:darkorange ; padding: 20 px; font-family: monospace}